/* 初始化 */
* {
    font-family: "face";
    transition: all 0.2s;
}

/* 可拖拽 */
#draggable-header{
    -webkit-app-region: drag; /* 可以拖拽的部分 */
}

/* 部分高度 */
.h-8-to-full {
    height: calc(100% - 2rem)/* 100% - 32px */;
}

.list-detail:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.list-detail:nth-child(odd) {
    background-color: rgb(244, 244, 245);
}



/* y向滑动条 */
/* 整体 */
.overflow-y-scroll::-webkit-scrollbar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 5px/* 设置滚动条的宽度 */;
}
/* 滑块 */
.overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #888/* 设置滚动条滑块的背景色 */;
    border-radius: 5px/* 设置滚动条滑块的圆角 */;
}
.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555/* 设置滚动条滑块在 hover 状态时的背景色 */;
}