/* 初始化 */
* {
    /* 去除边框  去除内边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "face";
    background-repeat: no-repeat;
    /* 禁止选取 */
    user-select: none;
    /* 去除修饰线 */
    text-decoration: none;
    /* 三个定量 */
    --menu-width: 37.5rem;
    /* menu宽 */
    --items: 3;
    /* items数 */
    --item-width: calc(var(--menu-width) / var(--items));
}
body {
    height: 100vh;
    width: 100vw;
    /* 溢出隐藏 */
    overflow-x: hidden;
    background: linear-gradient(to right, rgb(156, 226, 240), rgb(233, 155, 243));
    background: linear-gradient(to right, #102eff, #d2379b);
    /* background-repeat: no-repeat; */
}

/* ----------菜单---------- */
#menu {
    width: var(--menu-width);
    margin: 0px auto;
    top: 1rem;
    position: relative;
    z-index: 2;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* 3D空间 */
    transform-style: preserve-3d;
    perspective: 2000px;

}

/* 图标大小 */
.icon-svg {
    height: 18px;
    width: 18px;
}

#menu .menu-item {
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;

    min-height: 5rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;

    display: flex;
    flex-grow: 1;
    /* flex填充速度 */
    flex-basis: var(--item-width);
    justify-content: center;

    transform-style: preserve-3d;
    perspective: 200px;
}

#menu .menu-text a {
    color: white;
    font-size: 1rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: color 0.1s ease-out;
    text-align: center;
}

#menu .menu-text a:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* 弹出的背景版白色块 */
#menu .menu-item .sub-menu {
    background-color: white
}


/*  */
.menu-item .sub-menu {
    color: rgba(0, 0, 0, 0.5);
    font-weight: initial;
    /* 最初 */
    top: 4.5rem;
    min-width: 27.5rem;
    padding: 1.5rem;
    margin-left: -5rem;
    border-radius: 10px;
    opacity: 0;
    box-sizing: border-box;
    /* 裁剪 */
    clip-path: inset(10rem 10rem 10rem 15rem);
    /* 以#menu定位 */
    position: absolute;
    z-index: 999;

    pointer-events: none;
    transition: all 0.25s ease-out,
        opacity 0.25s ease-in,
        margin-left 0.25s ease-out,
        clip-path 0.15s ease-out;
}

/* "功能"一排两个 */
.functions .icon-box:nth-of-type(odd) {
    float: left;
}
.functions .icon-box {
    min-width: 13rem;
}
/* "关于"一排两个 */
.about .icon-box:nth-of-type(odd){
    float: left;
}
.about .icon-box {
    min-width: 13rem;
}

/* 指到就显现 */
.menu-item:hover .sub-menu {
    opacity: 1;
    margin-left: 0;
    /* 指到menu-text不消失 */
    pointer-events: all;
    clip-path: inset(0 0 0 0);
}

/* 调整icon-box内容的排版 */
.menu-item .sub-menu .icon-box .text .a-text .blank-box{
    min-width: 10px;
}
.menu-item .sub-menu .icon-box .text .a-text{
    display: flex;
}
/* sub-text对齐中文 */
.menu-item .sub-menu .icon-box .sub-text{
    margin-left: 1.8rem;
}
.menu-item .sub-menu .icon-box:nth-of-type(even) .sub-text{
    margin-left: 14.8rem;
}

.functions .sub-menu .icon-box{
    margin-bottom: 1rem;
}
.functions .sub-menu .icon-box:nth-of-type(5), .functions .sub-menu .icon-box:nth-of-type(6){
    margin-bottom: none;
}
/*  */
.icon-box:hover, .icon-box:hover a{
    color: black;
}
.icon-box a{
    color: rgba(0, 0, 0, 0.7);
}

/* ----------主体---------- */
#main-body{
    display: flex;
    justify-content: center;
    min-width: max-content;
    min-height: max-content;
}
#my-iframe{
    width:100%;
    min-width: 1000px;
    min-height: 600px;
    overflow: hidden;
    border: 0px;
    /* 测试 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}
