<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息管理</title>
</head>
<body>
    <div class="btn-box classroom">
      <a target="iframe" id="classroom">
          <div class="btn-name">教室信息管理</div>
      </a>
    </div>
    <div class="btn-box lesson">
      <a  target="iframe" id="lesson">
          <div class="btn-name">课程信息管理</div>
      </a>
    </div>
    <div class="btn-box lesson">
      <a  target="iframe" id="student">
          <div class="btn-name">学生信息管理</div>
      </a>
    </div>
    <script>
      const classroom = document.getElementById('classroom')
      const lesson = document.getElementById('lesson')
      const student = document.getElementById('student')
      
      classroom.href = "Editclassroom.html";
      lesson.href = "EditCourse.html;";
      student.href = "EditStu.html";
    </script>
</body>
</html>