<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sign-in-select.css">
    <title>Document</title>
</head>

<body>
    <div class="page">
        <div class="sign-in-box">
            <div class="up-box">
                <div class="ul">
                    <div class="li first-li">
                        <div class="function-name">
                            <div class="name">允许签到时长</div>
                        </div>
                        <div class="function-box">
                            <div class="btn1 btns">
                                <div class="btn">5分钟</div>
                            </div>
                            <div class="btn2 btns">
                                <div class="btn">20分钟</div>
                            </div>
                            <div class="btn3 btns">
                                <div class="btn">45分钟</div>
                            </div>
                            <div class="btn4 btns">
                                <div class="btn duration">
                                    <div class="btn-left">
                                        <input type="text" name="" placeholder="≤200" id="sign-in-duration" min="0" max="200">
                                    </div>
                                    <div class="btn-right">分钟</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="li second-li">
                        <div class="function-name">
                            <div class="name">二维码刷新频率</div>
                        </div>
                        <div class="function-box">
                            <div class="btn1 btns">
                                <div class="btn">10秒</div>
                            </div>
                            <div class="btn2 btns">
                                <div class="btn">不刷新</div>
                            </div>
                            <div class="blank-box"></div>
                            <div class="blank-box"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down-box">
                <div class="btn-box">
                    <div class="btn">
                        <div class="btn-text">
                            发起签到
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/sign-in-select.js"></script>
    <script src="../../preload.js"></script>
</body>

</html>