<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>登录</title>
	<link href="../css/output.css" rel="stylesheet">
	<script src="../js/jquery-3.7.1.min.js"></script>
	<script src="../js/cookie-utils.js"></script>
	<script>
		$(document).ready(function (){
			if(document.cookie){
				window.location = "QRCodeQuery.html";
			}
		})
	</script>
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-100">
<div class="p-8 bg-white shadow-xl w-80 rounded-xl">
	<h2 class="text-2xl font-semibold" id="top-tip">登录</h2>
	<form class="mt-10">
		<div class="mb-4">
			<!-- <label for="username" class="block mb-2 font-medium text-gray-600">学工号</label> -->
			<input type="text" id="username" name="username" placeholder="学号"
				   class="w-full p-2 my-2 border border-gray-300 rounded-md focus:bg-slate-100 bg-slate-50 focus:outline-none focus:border-blue-500">
		</div>
		<div class="mb-4">
			<!-- <label for="password" class="block mb-2 font-medium text-gray-600">密码</label> -->
			<input type="password" id="password" name="password" placeholder="密码"
				   class="w-full p-2 my-2 border border-gray-300 rounded-md focus:bg-slate-100 bg-slate-50 focus:outline-none focus:border-blue-500">
		</div>
		<div class="flex items-center justify-end mt-12 mb-4">
			<!-- <div class="flex items-end justify-end text-blue-500" id="reset-password">
                忘记密码？
            </div> -->
			<button id="log-button"
					class="flex items-end px-4 py-2 ml-10 text-white bg-blue-500 rounded-md focus:outline-none focus:bg-blue-600">
				登录
			</button>
		</div>
	</form>
</div>
<script>
	const top_tip = document.getElementById('top-tip');
	const pswd_again = document.getElementById('pswd-again');
	const sign_button = document.getElementById('sign-button');
	const log_button = document.getElementById('log-button');
	// const reset_password = document.getElementById('reset-password');
	var log_sin_status = 1;

	// 登录按钮
	log_button.addEventListener('click', () => {
		event.preventDefault();
		/*
        log_sin_status = 1;
        change_top_tip();
        */
		login();
	});
</script>
<script>
	// 验证通过，进入主界面
	async function enter(userId) {
		var token;
		// 获取token
		await $.ajax({
			type: "POST",
			dataType: "json",
			url: 'http://162.14.107.35/SCUEE/Administrator/refreshToken',
			contentType: "application/json",
			data: JSON.stringify({ "id": userId }),
			success: function (result) {
				token = result.token;
			}
		})
		// 将相关信息存入cookie
		setCookie(userId, token);

		// 进入主界面
		alert("登录成功！");
		window.location.href = "QRCodeQuery.html";
	}


	var userId = document.getElementById("username");
	var passwd = document.getElementById("password");

	// 登录功能
	function login() {
		if (userId.value == '' || passwd.value == '') {
			alert("学号或密码不能为空！");
			log_button.blur();
			return;
		}
		$.ajax({
			type: "POST",
			dataType: "json",
			url: 'http://162.14.107.35/SCUEE/Administrator/login',
			contentType: "application/json",
			data: JSON.stringify({ "id": userId.value, "passwd": passwd.value }),
			success: function (result) {
				if (result.statusCode == 1) {
					enter(userId.value, passwd.value);
				}
				if (result.statusCode == 0) {
					alert("登录失败！请检查账号密码是否正确！");
				}
			}
		})
		log_button.blur();
	}
</script>
</body>

</html>