<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/student.css">
    <title>教室</title>
</head>
<body>
    <!-- 查询条件 -->
    <button id="back">返回</button>
    <div class="propertyInput">

        
        <div>学号</div>
        <div class="sid">
            <input type="text" id="0">
        </div>
        <div>姓名</div>
        <div class="name">
            <input type="text" id="1">
        </div>
        <div>专业</div>
        <div class="major">
            <input type="text" id="2">
        </div>
        <div>学院</div>
        <div class="college">
            <input type="text" id="3">
        </div>
        <div>手机号</div>
        <div class="phone">
            <input type="text" id="6">
        </div>
        <button id="butAdd">添加</button>
        <button id="butQuery">查询</button>
    </div>
    <script src="./test.js"></script>




    <!-- 查询结果 -->
    <div class="results">
        显示查询信息
    </div>
</body>
</html>