.page{
    /* 去除边框  去除内边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "face";
    background-repeat: no-repeat;
    /* 禁止选取 */
    user-select: none;
    /* 去除修饰线 */
    text-decoration: none;
}

.page header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h2{
    display: flex;
    
}
/* 左侧的 */
.left-box{
    display: flex;
    flex:1;
}
.left-box .input-form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/* 输入框 */
.left-box .input-title {
    flex:1;
    margin: 10px;
    border: 1px solid #a0b3d6;
    /*设置边框1px，实线，边框线色为#a0b3d6 */
    min-width: 500px;
    max-width: 1000px;
    min-height: 20px;
    font-size: 14px;
    padding: 4px;
    color: #333;
    outline: 0;
    /* 当元素获得焦点的时候，焦点框为0.去掉虚线框（或高亮框）*/
}

/* 当输入框为空时，显示默认文字 */
.left-box .input-title:empty::before {
    content: attr(placeholder);
    /*获取属性的值 attr（value）,可以获得属性值 */
    color: #999;
}

.left-box .input-content {
    flex:1;
    margin: 10px;
    border: 1px solid #a0b3d6;
    /*设置边框1px，实线，边框线色为#a0b3d6 */
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    font-size: 14px;
    padding: 4px;
    color: #333;
    outline: 0;
    /* 当元素获得焦点的时候，焦点框为0.去掉虚线框（或高亮框）*/
}

.left-box .input-content:empty::before {
    content: attr(placeholder);
    /*获取属性的值 attr（value）,可以获得属性值 */
    color: #999;
}

.left-box .submit-btn{
    margin: 10px;
    border-radius: 3%;
    border: 1px solid #a0b3d6;
    background-color: aliceblue;
    
}