* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "face";
    user-select: none;
    text-decoration: none;
    transition: all 0.5s;
}

a {
    color: rgba(90, 84, 84, 1);
    text-decoration: none;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .control-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    box-shadow: 0 0 5px rgba(90, 84, 84, .3);
}

.page .control-box .blank-box{
    -webkit-app-region: drag; /* 可以拖拽的部分 */
    display: flex;
    flex: 10;
    height: 100%;
}

.page .control-box .btn-box{
    height: 100%;
    display: flex;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.page .control-box .btn-box:hover{
    background-color: rgb(246, 200, 200);
}

.page .content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}