/* 基本属性
 {
	position: ;
	top: ;
	left: ;
	width: ;
	height: ;
	border: 1px dashed rgb(155, 148, 148);
	background-color: ;
}
*/
* div {
	display: flex;
	box-sizing: content-box;
	padding: 0;
	margin: 0;
	/* border: 1px dashed black; */
}

div.sign-all {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vh;
	height: 60vh;
}

div.QR-code {
	position: relative;
	top: 5vh;
	left: 1%;
	box-sizing: border-box;
	width: 50vh;
	height: 50vh;
	padding: 2.2vh;
	border: 5px dashed rgb(155, 148, 148);
	background-color: rgb(247, 245, 243);
}

div.QR-code>img{
	object-fit: cover;
	background-color: rgb(255, 255, 255);
}

div.but-tips {
	position: relative;
	top: 32vh;
	left: 10vh;
	box-sizing: border-box;
	width: 40vh;
	height: 18vh;
	padding: 0px;
	border: 1px dashed rgb(155, 148, 148);
	background-color: blanchedalmond;
	flex-wrap: wrap;
}

div.sign-but {
	position: relative;
	box-sizing: border-box;
	width: 20vh;
	height: 5vh;
	font-size: 16px;
	text-align: center;
	padding: calc(2vh - 7px) calc(10vh - 39px);
	margin: 1vh 10vh;
	border: 1.5px solid rgba(103, 190, 187, 0.879);
	background-color: rgb(72, 226, 226);
}

div.sign-but>div {
	position: relative;
	margin: auto;
	/* position: absolute; */
	box-sizing: content-box;
	/* background-color: blanchedalmond; */
}


div.sign-tips {
	position: relative;
	width: 40vh;
	height: 9vh;
	flex-wrap: wrap;
	border: .7px dashed rgb(155, 148, 148);
}

div.sign-tips>div {
	position: relative;
	top: 1vh;
	left: 8.5vh;
	box-sizing: content-box;
	width: 40vh;
	height: 4vh;
	font-size: 15px;
}

div.sign-number {
	position: relative;
	left: 2vh;
	font-size: 20px;
	top: -0.5vh;
}

div.sign-number>div.m {
	position: relative;
	left: 1.5vh;
}

div.sign-number>div.number-all {
	position: relative;
	left: 3vh;
}

div div.sign-time {
	position: relative;
	left: 3vh;
}

/* 交互效果 */
div.sign-but:hover {
	background-color: rgb(109, 220, 220);
	border: 2px solid rgba(113, 209, 206, 0.879);
	font-size: 15.5px;
}
