/* 初始化 */
* {
    /* 去除边框  去除内边距 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "face";
    background-repeat: no-repeat;
    /* 禁止选取 */
    user-select: none;
    /* 去除修饰线 */
    text-decoration: none;
}

body {
    margin-top: 1rem;
    /* 溢出隐藏 */
    overflow-x: hidden;
    /* background-repeat: no-repeat; */
}